body{
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background: url("./imagenes/pexels-visit-greenland-108649-360912.jpg") no-repeat;
  background-size: cover;
  font-size: 20px;
 

}
h1{
    text-align: center;
}
h3{
    color: #fff;
}

img{
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0 1);
    padding: 2px;
  
}

.contenedor-imagen{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.Contenedor .popup-image{
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 9);
  height: 100%;
  width: 100%;
  z-index: 100%;
  display: none;

}


.Contenedor .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;

}
.Contenedor .popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 550px;
  height: 550px;
  object-fit: cover;

}
.autor{
 margin-top:280px ;
}
