body{
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background:url('imagenes/pexels-visit-greenland-108649-360912.jpg') no-repeat;
   background-size:cover;
}
.signupbox{
width: 200px;
height: 330px;
color: #fff;
border: 2px solid rgb(255, 255, 255 ,2 );
border-radius: 10px;
padding: 30px 40px ;
backdrop-filter:blur(20px);
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
flex-direction: column;
display: flex;
}
 


